/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*  STYLE  ADDED  BY  KALEEM    */
@font-face {
  font-family: 'proLight';
  src: url('../fonts/ProximaNovaThin.ttf') format('truetype');
}
@font-face {
  font-family: 'proReg';
  src: url('../fonts/ProximaNovaRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'proSemi';
  src: url('../fonts/ProximaNovaSemibold.ttf') format('truetype');
}
@font-face {
  font-family: 'proBold';
  src: url('../fonts/ProximaNovaBold.ttf') format('truetype');
}

*{outline: none !important;}
body{font-family: 'proReg';}
.fontLight{font-family: 'proLight'}
.fontSemi{font-family: 'proSemi'}
.fontBold{font-family: 'proBold'}
a{color: #666d76}
.bg-success, .btn-success{background-color: #0fb918 !important;}
.text-success{color: #0fb918 !important;}
.overflow-hidden{overflow: hidden;}
.vs-green, .vs-blue, .vs-red{color: #fff; border-radius: 20em; text-align: center;}
.vs-green{background-color: #0fb918;}
.vs-blue{background-color: #093177;}
.vs-red{background-color: #f8442b;}
.fontSize60{font-size: 60px;}
.fontSize50{font-size: 50px;}
.fontSize40{font-size: 40px;}
.fontSize35{font-size: 35px;}
.fontSize30{font-size: 30px;}
.fontSize24{font-size: 24px;}
.fontSize20{font-size: 20px;}
.overflowX{overflow-x: auto}
.bg-dark a:hover, .bg-dark a:active, .bg-dark a:focus{color: #fff}
.bg-white a:hover, .bg-white a:active, .bg-white a:focus{color: #333}
.background-green{background: url("../img/green_small_bg.png") no-repeat center / cover; border-radius: 1rem}
.background-blue{background: url("../img/blue_small_bg.png") no-repeat center / cover; border-radius: 1rem}
.background-red{background: url("../img/red_small_bg.png") no-repeat center / cover; border-radius: 1rem}
header .bg-dark{background-color: #0e151f !important;}
.top-right{top: 0; right:0;}
.bottom-triangle{bottom: 0; left: 0; -webkit-clip-path: polygon(0 25%, 0% 100%, 75% 100%); clip-path: polygon(0 25%, 0% 100%, 75% 100%); width: 100px; height:80px;}
.bottom-triangle span {position: absolute; bottom: 0;left: 10px;color: #fff;}
.round-corner{border-radius: 5rem !important;}
.round-0_5rem{border-radius: 0.5rem;}
.round-1rem{border-radius: 1rem;}
#search{background-color: #4b525c; color: #fff;padding: 12px 30px; height: 100%;display: inline-block; position: relative;}
#searchForm{position: absolute; top:105%; right: 20px;}
.banner{background: url("../img/banner_bg.png") no-repeat; background-position: top center; background-size: cover; padding: 40px 0}
.current-match{background: url("../img/green_banner_bg.png") no-repeat; background-position: center center; background-size: cover;}
#matcheSlides .carousel-inner{width: 92%; margin: 0 auto}
#matcheSlides .carousel-control-next,#matcheSlides  .carousel-control-prev{width: 4%;}
#matcheSlides .carousel-control-prev {justify-content: flex-start;}
#matcheSlides .carousel-control-next {justify-content: flex-end;}
.slider-footer-info{border-radius: 0 0 1rem 1rem;margin: 5px -0.25rem 0;padding: 5px;}
/*VIDEO  PLAY  SESSION*/
.videoTime{position: absolute;top: 10px; right: 10px; background-color: rgba(0,0,0,0.75); padding: 4px 8px; color: #ccc; text-align: center; border-radius: 5px; cursor: pointer; border: 1px solid #fff;}
.videoTime:hover{color: #fff}
.videoInfo{position: absolute;bottom: 0; left: 2%; width: 96%; background-color: rgba(0,0,0,0.6);}
/*RANKING  SESSION*/
.ranking{background-color: #f9f9f9;}
.rounderTabs{}
.rounderTabs ul.nav-tabs{border-bottom: none}
.rounderTabs ul.nav-tabs a {padding: 10px 40px;}
.rounderTabs ul.nav-tabs .nav-link, .rounderTabs ul.nav-tabs a:hover, .rounderTabs ul.nav-tabs a:active{border: none !important;}
.rounderTabs ul.nav-tabs a.active {background-color: #0fb918; color: #fff; border-radius: 10rem; border: none;}

/*CUSTOM CHECKBOXES*/
.cbox{position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;user-select: none;}
.cbox input[type=checkbox] {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;top: 0;left: 0;height: 22px;width: 22px;background-color: transparent; border: 1px solid #c8cbcf; border-radius: 10em;}
.cbox:hover input[type=checkbox] ~ .checkmark {background-color: transparent; border: 1px solid #4e555b; border-radius: 10em;}
.cbox input[type=checkbox]:checked ~ .checkmark {background-color: #0fb918;border:1px solid #0fb918; border-radius: 10em;}
.checkmark:after {content: "";position: absolute;display: none;}
.cbox input[type=checkbox]:checked ~ .checkmark:after {display: block;}
.cbox .checkmark:after {left: 8px;top: 5px;width: 5px; height: 10px;border: solid white;border-width: 0 2px 2px 0;  -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
/*TEAM  PROFILE  PAGES*/
.bg-f5{background-color: #F5F5F5}
.bg-ed{background-color: #ededed;}
.icon-square{width: 40px; height: 40px;}
.team-list-bg{background: url("../img/images/title_bg.png") no-repeat; background-position: top center; background-size: cover}
.team-player-bg{background: url("../img/team_player_list_bg.png") no-repeat; background-position: top center; background-size: cover}
.tab-pane.active.show .tab-pane:not(.show){display: none}
.team-ranking{border: 1px solid #ccc; border-radius: 10px;}
.team-ranking > div{border-right: 1px solid #ccc;}
.team-ranking > div:first-child{border-radius: 10px 0 0 10px;}
.team-ranking > div:last-child{border-right: none; border-radius: 0 10px 10px 0;}
.team-ranking > div:nth-child(odd){background-color: #f5f5f5}
.team-ranking > div:nth-child(even){background-color: #ededed}
.green-border{border: 1px solid #0fb918}
/*BOOTSTRAP  COMPULSRY  CHANGES*/
.breadcrumb-item + .breadcrumb-item::before{content: '>';}
/*MEGA MENU*/
.dropbtn {
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute; top: 54px; right: -50px;
    background-color: #fff;
    min-width: 1200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*  FOOTER  */
footer{background-color: #f1f1f1}
.bg-grey-light{background-color: #dcdfe4}

